.AdminPro{
    color: white;
    position: absolute;
    left:280px;
    top:90px;
    font-size: 25px;
}
.B11100 button{
    position: absolute;
    left:1160px;
    top:90px;
    background-color: #C338C3;
    border: none;
    border-radius: 10px;
    height:30px;

    width:120px;
}

.B11100 Button a{
    color: white;
    text-decoration: none;
}
.FuatureProduct{
    background-color: #2F2F34;
    width:77%;
    height:740px;
    position: absolute;
    left:280px;
    top:130px;
}

.FuatureProduct .CATO{
    background-color: #2F2F34;
    width:997px;
    height:50px;
    border: 1px solid rgb(128, 126, 126)
}

.pagination1 {
    display: flex;
    justify-content: center;
   
    position: absolute;
    bottom:700px;
    left:780px;
    
    
  }
  
  .pagination1 button {

    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: hsl(298, 70%, 49%);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:90px;
    height: 30px;
  }
  
  .pagination1 button:hover {
    background-color: #2e7d32;
  }
  
  .pagination1 button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  