/* select.css */

.option {
    background-color: hwb(274 10% 81%);
    width: 1300px;
    position: relative;
    right: 6px;
    bottom: 37px;
    height: 55px;
  }
  
  .option p {
    position: relative;
    top: 10px;
    left: 20px;
  }
  
  .next-page-link {
    text-decoration: none;
    color: #fff; /* Change the color to your preference */
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* Add padding to make the link clickable */
    cursor: pointer;
  }
  
  .next-page-link:hover {
    background-color: #85028a; /* Change the color on hover if needed */
  }
  