/* Order.css */


  .Order h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color:  #202022;
    width: 100%;
  }
  
  .Order div {
    margin-bottom: 15px;
    flex-basis: calc(33.333% - 20px); /* 33.333% for three items in a row, subtracting margin */
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .Order p {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    background-color:  #202022;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    top:10px;
    left:-0px;
    border: 1px solid rgb(121, 119, 119);
    display:grid;
  }
  
  .Order img {
    width: 6%; /* Adjust the width as needed */
    position: absolute; /* Change to relative positioning */
    z-index: 1; /* Ensure the image is above other elements */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto;
    display: block;
    border-radius: 10px;
    top: 37px;
    left:50px;  
  }
  


  .Order .BBTON button{
    position:relative;
  right:-330px;
  bottom:-150px;
  border: none;
  background-color: #C338C8;
  color: white;
  width:95px;
  height: 25px;
  border-radius: 10px;
  margin-right: 30px;
  }

  .Order .BBTON button:hover{
  background-color: #333;
  }

  /* Add more styles as needed */
  