.platform img{
position:absolute;
left:480px;
width:350px;
bottom:350px;
}
 .circle1{
width:240px;
background-color: hwb(275 15% 62%);
position: absolute;
top:390px;
height:185px;
border-radius: 20px;
}
.circle2{
    width:240px;
    background-color: hwb(275 15% 62%);
    position: absolute;
    top:390px;
    height:185px;
    border-radius: 20px;
    left:270px;
    }

   
    .circle3{
        width:240px;
        background-color: hwb(275 15% 62%);
        position: absolute;
        top:390px;
        height:185px;
        border-radius: 20px;
        left:530px;
        }
        .circle4{
            width:240px;
            background-color: hwb(275 15% 62%);
            position: absolute;
            top:390px;
            height:185px;
            border-radius: 20px;
            left:790px;
            }
            .circle5{
                width:240px;
                background-color: hwb(275 15% 62%);
                position: absolute;
                top:390px;
                height:185px;
                border-radius: 20px;
                left:1050px;
                }


              